# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.idb
*.dep
*.htm
*.ilk
*.manifest
*.bat
BinSTree/BinSTree.vcproj.DESKTOP-BML7J7E.DLL.user
BinSTree/_UpgradeReport_Files/UpgradeReport.css
BinSTree/_UpgradeReport_Files/UpgradeReport.xslt
BinSTree/_UpgradeReport_Files/UpgradeReport_Error.png
BinSTree/_UpgradeReport_Files/UpgradeReport_Information.png
BinSTree/_UpgradeReport_Files/UpgradeReport_Success.png
BinSTree/_UpgradeReport_Files/UpgradeReport_Warning.png
BinSTree/UpgradeLog.XML
BinSTree/Debug/link.write.1.tlog
BinSTree/Debug/link.read.1.tlog
BinSTree/Debug/link.command.1.tlog
BinSTree/Debug/link-rc.write.1.tlog
BinSTree/Debug/link-rc.read.1.tlog
BinSTree/Debug/link-cvtres.write.1.tlog
BinSTree/Debug/link-cvtres.read.1.tlog
BinSTree/Debug/CL.write.1.tlog
BinSTree/Debug/CL.read.1.tlog
BinSTree/Debug/cl.command.1.tlog
BinSTree/Debug/BinSTree.log
BinSTree/Debug/BinSTree.lastbuildstate
BinSTree/Debug/BinSTree.Build.CppClean.log
BinSTree/BinSTree.vcxproj.filters
BinSTree/Backup/BinSTree.sln
BinSTree/Backup/BinSTree.v11.suo
BinSTree/BinSTree.opensdf
